:root {
  --light: #dce4ef;
  --flag-blue: #42b6e7;
  --primary-blue: #0075bb;
  --flag-red: #e5002b;
  --lightest-red: #fbd9df;
  --dark: #323a45;
  --primary-yellow: #fdb81e;
  --primary-red: #981b1e;
}