body {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    grid-gap: .2rem;
}

html {
    min-height: 100vh;
    background-color: var(--light);
}

#map {
    min-height: 180px;
    height: 80vh;
    width: 100%;
}

.edit-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: .2rem;
}

.double-width {
    grid-column: span 2;
}