@font-face {
    font-family: 'Garamond';
    src: url(/fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_slnt,wght.ttf);
}

body {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 12px;
    grid-gap: .2em;
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Garamond', 'system-ui', 'serif';
}

html {
    min-height: 100vh;
    background-color: var(--light);
}

#map {
    min-height: 180px;
    height: 80vh;
    width: 90%;
    margin: auto;
}

.edit-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: .6em;
}

.double-width {
    grid-column: span 2;
}

.grid {
    display: grid;
}

.display-none {
    display: none;
}