@font-face {
    font-family: 'Garamond';
    src: url(/fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_slnt,wght.ttf);
}

body {
    justify-content: center;
    text-align: center;
    padding: 12px;
    grid-gap: .2em;
    font-family: 'Inter', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Garamond', 'system-ui', 'serif';
}

html {
    min-height: 100vh;
    background-color: var(--light);
}

#map {
    height: 80vh;
    max-height: 600px;
    width: 90%;
    max-width: 600px;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4em;
}

.edit-grid {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-gap: .6em;
}

.double-width {
    grid-column: span 2;
}

.grid {
    display: grid;
}

.display-none {
    display: none;
}

button, .button-like {
    height: 3.4lh;
    justify-self: center;
    padding-left: 4ch;
    padding-right: 4ch;
    max-width: 80ch;
    margin-bottom: 1em;
}

.location-card {
    justify-content: center;
    padding: 3ch;
}

.grid-gap-sm {
    grid-gap: .6em;
}

#svgBeanFillPath {
    fill: #d0d0d0;
}

#svgBeanOutlinePath {
    fill: black;
}

header {
    padding: .6rem;
    justify-content: center;
    margin-top: 1em;
}

.mv-auto {
    margin-left: auto;
    margin-right: auto;
}

.max-width-sm {
    max-width: 60ch;
}