<div class="flex">
  <button id="locateMe" onclick="">Where Am I?</button>
</div>
<script>
  const options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0,
  };

  var meMapIcon = L.icon({
    iconUrl: '/icons/crosswalk.png',
    iconSize: [30, 48],
    iconAnchor: [30, 43],
    popupAnchor: [-3, -76],
});

  function success(pos) {
    const crd = pos.coords;
    let latlng = [crd.latitude, crd.longitude];
    map.setView(latlng, 17);
    L.marker(latlng, {icon: meMapIcon}).addTo(map);
  }

  function error(err) {
    console.warn(`ERROR(${err.code}): ${err.message}`);
  }

  const button = document.getElementById("locateMe");

  button.addEventListener("click", (event) => {
    navigator.geolocation.getCurrentPosition(success, error, options);
  });

</script>
