<h2 class="double-width">Locations</h2>
<button
  class="double-width"
  id="addLocationButton"
  onclick="enableAddLocation()"
>
  Add a Location
</button>
<form id="newLocationForm" class="edit-grid double-width display-none">
  <fieldset class="double-width">
    <legend>Click the map or add values.</legend>
    <div class="double-width">
      <label for="latlng">Latitude,Longitude:</label>
      <input
        type="text"
        id="latlng"
        name="latlng"
        minlength="1"
        maxlength="60"
        size="32"
        class="double-width"
        oninput="updateLatitudeandLongitudeFields()"
      />
    </div>
    <div class="double-width">
      <label for="lat">Latitude:</label>
      <input
        type="text"
        id="lat"
        name="lat"
        required
        minlength="1"
        maxlength="60"
        size="15"
        class="double-width"
      />
    </div>
    <div class="double-width">
      <label for="lng">Longitude:</label>
      <input
        type="text"
        id="lng"
        name="lng"
        minlength="1"
        maxlength="60"
        size="15"
        class="double-width"
      />
    </div>
  </fieldset>
  <label for="title">Title*</label>
  <input
    type="text"
    id="title"
    name="title"
    minlength="1"
    maxlength="60"
    required
    size="10"
    class="double-width"
  />
  <label for="short">Short Description*</label>
  <textarea
    type="text"
    id="short"
    name="short"
    required
    minlength="5"
    maxlength="200"
    size="10"
    class="double-width"
  ></textarea>
</form>
<button class="display-none" id="saveAddLocation" type="submit" onclick="saveNewLocation()">Save</button>
<button
  class="display-none"
  id="cancelAddLocation"
  onclick="cancelAddLocation()"
>
  Cancel
</button>
