<h2 class="double-width">Locations</h2>
<button class="double-width" id="addLocation" onclick="enableAddLocation()">
  Add a Location
</button>
<form id="newLocationForm" class="edit-grid double-width display-none">
    <input type="checkbox" id="locationAdded" name="locationAdded" required />
    <label for="locationAdded">Click the map to add a location.</label>
  <label for="title">Name:</label>
  <input
    type="text"
    id="title"
    name="title"
    required
    minlength="1"
    maxlength="60"
    size="10"
    class="double-width"
  />
  <label for="short">Short Description:</label>
  <textarea
    type="text"
    id="short"
    name="short"
    required
    minlength="5"
    maxlength="200"
    size="10"
    class="double-width"
  ></textarea>
</form>
<div class="double-width" id="currentLocations"></div>
<script>
  function enableAddLocation() {
    document.getElementById("newLocationForm").classList.remove("display-none");
}
</script>
