body {
    font-size: 1.1em;
}

@media screen and (min-width: 600px) {
    body {
       font-size: 1.2em;
    }
}
@media screen and (min-width: 1200px) {
    body {
       font-size: 1.3em;
    }
}

.tc {
    text-align: center;
}