<div id="currentMapLocations" class="double-width"></div>
<script>
  const currentLocationsContainer = document.getElementById(
    "currentMapLocations"
  );
  const currentLocationsTemplate = document.getElementById("location_");
  function addAllInitialLocations(locations) {
    locations.forEach((location, index) => {
      createLocationDisplayElement(location, index);
    });
  }

  function addLocationDetailDefaults(element, key, index) {
    element.classList.add(`location-${key}`);
    element.classList.add("double-width");
    element.id = `location_${key}_${index}`;
    element.dataset.index = index;
  }

  function addIndexToId(element, index) {
    element.id = element.id + index;
    element.dataset.index = index;
  }

  function createLocationDisplayElement(location, index) {
    let copy = currentLocationsTemplate.cloneNode(true);
    addIndexToId(copy, index);
    for ([key, value] of Object.entries(location)) {
      let newDiv = createElement(key);
      addLocationDetailDefaults(newDiv, key, index);
      let display = value;
      if ((key == "lat") | (key == "lng")) {
        // Data not added
      } else {
        //Fully Custom Element
        if (key == "link") {
          const newLink = document.createElement("a");
          newLink.href = value;
          newLink.target = "_blank";
          const linkContent = document.createTextNode("Location Link");
          newLink.appendChild(linkContent);
          newDiv.appendChild(newLink);
          newDiv.classList.remove("double-width");
          copy.appendChild(newDiv);
        } else {
          // update display text
          if (key == "court_count") {
            display = "Number Of Courts: " + value;
          } else if (key == "cost") {
            if (value == 0) {
              display = "Cost: Free";
            } else {
              display = `Cost: $${value}`;
            }
            newDiv.classList.remove("double-width");
          }
          // default case
          const newContent = document.createTextNode(display);
          newDiv.appendChild(newContent);
          copy.appendChild(newDiv);
        }
      }
    }
    currentLocationsContainer.appendChild(copy);
  }

  function createElement(key) {
    if (key == "title") {
      return document.createElement("h3");
    } else {
      return document.createElement("div");
    }
  }
</script>
