{{ partial "maps/empty-map-location" . }} {{ partial "maps/map.html" . }} {{
partial "create/edit-map-container" . }}
<script>
  const storageName = "createMap";
  const inProcessMarker = "in-process-marker";
  let mapData = null;
  const currentLocationsTemplate = document.getElementById("location_");
  const titleInput = document.getElementById("initialTitle");
  //Location Form Fields
  const addLocationForm = document.getElementById("newLocationForm");
  const saveButton = document.getElementById("saveAddLocation");
  const newButton = document.getElementById("addLocationButton");
  const cancelButton = document.getElementById("cancelAddLocation");

  //Edit Front End Functions
  function updateFrontEndZoom(data) {
    document.getElementById("initialLocationZoom").innerHTML = data;
  }

  function updateObjectZoom(data) {
    mapData.initialLocation.zoom = data;
    saveData();
  }

  function updateFrontEndInitialLocation(data) {
    document.getElementById("initialLocationLat").innerHTML = data.lat;
    document.getElementById("initialLocationLong").innerHTML = data.lng;
  }

  function updateFrontEndTitle(title) {
    titleInput.value = title;
  }

  function updateObjectTitle(title) {
    mapData.title = title;
  }

  function updateObjectLocation(data) {
    mapData.initialLocation.lat = data.lat;
    mapData.initialLocation.lng = data.lng;
    saveData();
  }

  function populateEditForm(data) {
    updateFrontEndInitialLocation(data.initialLocation);
    updateFrontEndZoom(data.initialLocation.zoom);
    addAllInitialLocations(data.locations);
    updateFrontEndTitle(data.title);
  }

  // User Interaction Functions
  function setCenterMap() {
    let currentCenter = map.getCenter();
    updateFrontEndInitialLocation(currentCenter);
    updateObjectLocation(currentCenter);
  }

  function setInitialZoom() {
    let currentZoom = map.getZoom();
    updateFrontEndZoom(currentZoom);
    updateObjectZoom(currentZoom);
  }

  function updateTitle() {
    mapData.title = titleInput.value;
    saveData();
  }

  function saveAddLocation() {
    console.log(addLocationForm);
  }

  function cancelAddLocation() {}

  function saveData() {
    localStorage.setItem(storageName, JSON.stringify(mapData));
  }

  // Creating a New Location
  function toggleAddLocationFormVisiblity() {
    toggleElementVisibility(addLocationForm);
    toggleElementVisibility(saveButton);
    toggleElementVisibility(newButton);
    toggleElementVisibility(cancelButton);
  }

  function toggleElementVisibility(element) {
    if (element.classList.contains("display-none")) {
      element.classList.remove("display-none");
    } else {
      element.classList.add("display-none");
    }
  }

  function enableAddLocation() {
    toggleAddLocationFormVisiblity();
    map.on("click", getMapClickLocation);
  }

  function cancelAddLocation() {
    toggleAddLocationFormVisiblity();
    map.removeListener("click");
  }

  function getMapClickLocation(e) {
    let element = document.getElementById(inProcessMarker);
    if (element) {
      element.remove();
    }
    let addedLocation = L.marker(e.latlng).addTo(map);
    addedLocation._icon.id = inProcessMarker;
    updateLatLngField(e.latlng);
  }

  function updateLatLngField(latlng) {
    document.getElementById("lat").value = latlng.lat;
    document.getElementById("lng").value = latlng.lng;
    document.getElementById("latlng").value = `${latlng.lat},${latlng.lng}`;
  }

  // Initial Map Setup
  async function fetchMapData() {
    if (!localStorage.getItem(storageName)) {
      const response = await fetch("/templates/new-map.json");
      mapData = await response.json();
      localStorage.setItem(storageName, JSON.stringify(mapData));
      populateMap(mapData);
      populateEditForm(mapData);
    } else {
      mapData = JSON.parse(localStorage.getItem(storageName));
      populateMap(mapData);
      populateEditForm(mapData);
    }
  }
  fetchMapData();
</script>
