{{ partial "maps/map.html" . }}
<div class="grid edit-grid">
  {{ partial "create/edit-map-locations.html" . }}
  {{ partial "maps/current-map-locations.html" }}
  <h2 class="double-width">Map Defaults</h2>
  <div>Map Title:</div>
  <input class="double-width max-width-sm mv-auto" id="initialTitle" type="text"/>
  <button class="double-width max-width-sm mv-auto" id="setCenterMap" onclick="updateTitle()">
    Set Map Title
  </button>
  <div>
    Starting Latitude:
    <div id="initialLocationLat"></div>
  </div>
  <div>
    Starting Longitude:
    <div id="initialLocationLong"></div>
  </div>
  <button class="double-width max-width-sm mv-auto" id="setCenterMap" onclick="setCenterMap()">
    Set Map Starting Location
  </button>
  <div class="double-width max-width-sm mv-auto">
    Starting Zoom:
    <div id="initialLocationZoom"></div>
  </div>
  <button class="double-width max-width-sm mv-auto" id="setInitialZoom" onclick="setInitialZoom()">
    Set Map's Starting Zoom
  </button>
  <label for="templateSelect">Select Location Template</label>
  <select name="templateSelect" class="double-width max-width-sm mv-auto" id="selectTemplate">
    {{ range slice "new-map" "pickleball" }}
    <option value={{ printf "templates/%s.json" . }}>{{ title . }}</option>
      {{ . }}
    {{ end }}
  </select>
  </button>
</div>

<script>
  const storageName = "createMap";
  const inProcessMarker = "in-process-marker";
  let mapData = null;
  const titleInput = document.getElementById("initialTitle");
  //Location Form Fields
  const addLocationForm = document.getElementById("newLocationForm");
  const saveButton = document.getElementById("saveAddLocation");
  const newButton = document.getElementById("addLocationButton");
  const cancelButton = document.getElementById("cancelAddLocation");
  const selectTemplateDropdown = document.getElementById("selectTemplate");

  //Edit Front End Functions
  function updateFrontEndZoom(data) {
    document.getElementById("initialLocationZoom").innerHTML = data;
  }

  function updateObjectZoom(data) {
    mapData.initialLocation.zoom = data;
    saveData();
  }

  function updateFrontEndInitialLocation(data) {
    document.getElementById("initialLocationLat").innerHTML = data.lat;
    document.getElementById("initialLocationLong").innerHTML = data.lng;
  }

  function updateFrontEndTitle(title) {
    titleInput.value = title;
  }

  function updateObjectTitle(title) {
    mapData.title = title;
  }

  function updateObjectLocation(data) {
    mapData.initialLocation.lat = data.lat;
    mapData.initialLocation.lng = data.lng;
    saveData();
  }

  selectTemplateDropdown.addEventListener("change", (e) => {
    
    console.log(e);
  })

  function populateEditForm(data) {
    updateFrontEndInitialLocation(data.initialLocation);
    updateFrontEndZoom(data.initialLocation.zoom);
    addAllInitialLocations(data.locations);
    updateFrontEndTitle(data.title);
  }

  // User Interaction Functions
  function setCenterMap() {
    let currentCenter = map.getCenter();
    updateFrontEndInitialLocation(currentCenter);
    updateObjectLocation(currentCenter);
  }

  function setInitialZoom() {
    let currentZoom = map.getZoom();
    updateFrontEndZoom(currentZoom);
    updateObjectZoom(currentZoom);
  }

  function updateTitle() {
    mapData.title = titleInput.value;
    saveData();
  }

  function saveNewLocation() {
    const formData = new FormData(addLocationForm);
    const cloneLocation = Object.assign({}, mapData.locationTemplate);
    for (input of formData.entries()) {
      let key = input[0];
      let value = input[1];
      if (cloneLocation.hasOwnProperty(key)) {
        cloneLocation[key] = value;
      }
    };
    mapData.locations.push(cloneLocation);
    let locationIndex = mapData.locations.length - 1;
    createLocationDisplayElement(cloneLocation, locationIndex);
    saveData();
    document.getElementById(inProcessMarker).id = "";
    addLocationForm.reset();
  }

  function saveData() {
    localStorage.setItem(storageName, JSON.stringify(mapData));
  }

  // Creating a New Location
  function saveMapLocationObject(formData) {
    mapData.initialLocation.zoom = data;
    saveData();
  }

  function toggleAddLocationFormVisiblity() {
    toggleElementVisibility(addLocationForm);
    toggleElementVisibility(saveButton);
    toggleElementVisibility(newButton);
    toggleElementVisibility(cancelButton);
  }

  function toggleElementVisibility(element) {
    if (element.classList.contains("display-none")) {
      element.classList.remove("display-none");
    } else {
      element.classList.add("display-none");
    }
  }

  function enableAddLocation() {
    toggleAddLocationFormVisiblity();
    map.on("click", getMapClickLocation);
  }

  function cancelAddLocation() {
    toggleAddLocationFormVisiblity();
    removeInProcessMarker();
    addLocationForm.reset();
    map.on("click", getMapClickLocation);
  }

  function getMapClickLocation(e) {
    removeInProcessMarker()
    let addedLocation = L.marker(e.latlng).addTo(map);
    addedLocation._icon.id = inProcessMarker;
    updateLatLngField(e.latlng);
  }

  function removeInProcessMarker() {
    let element = document.getElementById(inProcessMarker);
    if (element) {
      element.remove();
    }
  }

  function updateLatLngField(latlng) {
    document.getElementById("lat").value = latlng.lat;
    document.getElementById("lng").value = latlng.lng;
    document.getElementById("latlng").value = `${latlng.lat},${latlng.lng}`;
  }

  // Initial Map Setup
  async function fetchMapData(path) {
    if (!localStorage.getItem(storageName)) {
      const path = document.getElementById("selectTemplate");
      const response = await fetch(path);
      mapData = await response.json();
      localStorage.setItem(storageName, JSON.stringify(mapData));
    } else {
      mapData = JSON.parse(localStorage.getItem(storageName));
    }
    populateMap(mapData);
    populateEditForm(mapData);
  }

  async function updateLocationTemplateData(path) {
      const response = await fetch(path);
      locationData = await response.json();
      mapData.locationTemplate = locationData;
      localStorage.setItem(storageName, JSON.stringify(mapData));
    populateEditForm(mapData);
  }

  fetchMapData();
</script>
